body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(#001f3f, #000033);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.neon-header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
    text-align: center;
    backdrop-filter: blur(5px);
}

.neon-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.neon-header nav ul li {
    display: inline;
}

.neon-header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.neon-header nav ul li a:hover {
    color: #ff00ff;
}

.separator {
    color: #fff;
    padding: 0 5px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 4;
}

.sun {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 215, 0, 0.9);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.7);
}

.planet {
    width: 52px;
    height: 52px;
    background-color: rgba(0, 204, 255, 0.8);
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 12px rgba(0, 204, 255, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    backdrop-filter: blur(5px); 
    transition: transform 0.2s ease-in-out;
}

.outer-planet {
    width: 32px;
    height: 32px;
    background-color: rgba(255, 0, 0, 0.8); 
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 12px;
    transition: transform 0.2s ease-in-out;
}

.outer-planet:hover {
    transform: scale(1.2); 
}

.planet:hover, .outer-planet:hover {
    transform: scale(1.4); 
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95); 
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    border-radius: 10px; 
    max-width: 70vh;
    max-height: 32vh;
    text-align: center; 
}

#popup-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3498db; 
}

#popup-description {
    font-size: 16px;
    color: #333; 
    line-height: 1.6; 
    margin-top: 10px; 
}

#popup-description p {
    margin-bottom: 10px; 
}

#popup-description strong {
    color: #3498db; 
}

#popup-description em {
    font-style: italic;
    color: #e74c3c;
}

#popup-description a {
    color: #1abc9c;
    text-decoration: underline;
    cursor: pointer;
}

#popup-description a:hover {
    color: #16a085;
}


#close-popup {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

#close-popup:hover {
    background-color: #2980b9;
}

#view-details {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 14px;
    transition: background-color 0.3s ease-in-out; 
}

#view-details:hover {
    background-color: #219d54;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000; 
  z-index: -1;
}

.particles-js-canvas-el {
  background-color: transparent;
}

.particles-js-canvas-el::after {
  background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 10px;
    }

    .neon-header nav ul li a {
        width: 100vh;
        padding: 5px 5px; 
        font-size: 12px;
    }

    .sun {
        width: 5vh; 
        height: 5vh;
        font-size: 1vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .planet {
        width: 3.5vh; 
        height: 3.5vh;
        font-size: 1vh; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .outer-planet {
        width: 2.5vh; 
        height: 2.5vh;
        font-size: 1vh;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) {
    
}



