/* Fondo azul profundo para simular el espacio */
body {
    background-color: #000033;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #fff; /* Color de texto blanco para una mejor legibilidad */
    position:relative;
}

h1 {
    font-size: 2.5rem; /* Aumenta el tamaño de la fuente para destacar más */
    text-align: center;
    margin-top: 30px; /* Reduce el margen superior */
    margin-bottom: 20px; /* Añade un margen inferior para separarlo del contenido siguiente */
    color: #fff; /* Color blanco para que coincida con el diseño general */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto para destacarlo */
    position: relative;
    z-index: 4;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente en la web */
    align-items: center;
    width: 100%; /* Cambio a un ancho relativo */
    max-width: 800px; /* Cambio a un ancho máximo relativo */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo ligeramente transparente */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Sutil sombra para el contenedor */
    border-radius: 12px; /* Bordes redondeados */
    padding: 20px;
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
    height: 100%; /* Ajusta la altura automáticamente al contenido */
    position: relative;
    z-index: 1;
}

/* Contenedor del chat */
.chat-messages {
    width: 90%; /* Ancho relativo */
    max-width: 90%; /* Ancho máximo relativo */
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
    background-color: #f7f7f7; /* Color de fondo del chat */
    padding: 12px;
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 12px; /* Espaciado inferior */
}


/* Mensajes del bot (izquierda) */
.bot-message {
    background-color: #e0e0e0;
    border-radius: 12px; /* Bordes redondeados */
    color: #000;
    padding: 12px; /* Más espacio alrededor del mensaje */
    margin: 10px 0;
    align-self: flex-start;
    word-wrap: break-word; /* Romper palabras largas para que no desborden */
}
/* Estilo para el título de la información */
.bot-message p:first-child {
    font-weight: bold; /* Aplicar negrita al primer párrafo dentro de .bot-message */
    margin-bottom: 8px; /* Espaciado inferior */
}

/* Estilo para el contenido de la información */
.bot-message p:not(:first-child) {
    font-weight: normal; /* Estilo normal para párrafos que no son el primero dentro de .bot-message */
    margin-bottom: 12px; /* Espaciado inferior */
}

/* Estilos generales para los botones */
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    padding: 2px 12px; /* Botones más grandes */
    cursor: pointer;
    margin: 2px 0;
    transition: background-color 0.2s ease; /* Efecto de transición suave al pasar el mouse */
}

/* Cambia el color del botón al pasar el mouse */
button:hover {
    background-color: #2674a7;
}

/* ... (otros estilos CSS) ... */

/* Botones de categoría */
button.category-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    padding: 12px 24px; /* Botones más grandes */
    cursor: pointer;
    margin: 10px 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    text-align: center; /* Alinea el texto al centro */
    font-weight: normal; /* Texto en negrita */
    transition: background-color 0.2s ease, font-weight 0.2s ease; /* Efecto de transición suave al pasar el mouse */
}

/* Cambia el color al pasar el cursor */
button.category-button:hover {
    background-color: #2674a7; /* Cambia el color al pasar el cursor */
    font-weight: bold; /* Texto en negrita */
}

/* Botón "Volver al Inicio" con color diferente */
.back-to-categories-button {
    background-color: #ff3333; /* Color rojo */
    color: #fff;
    border: none;
    border-radius: 12px; /* Bordes redondeados */
    padding: 12px 24px; /* Botones más grandes */
    cursor: pointer;
    margin: 10px 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    text-align: center; /* Alinea el texto a la izquierda */
    transition: background-color 0.2s ease; /* Efecto de transición suave al pasar el mouse */
}

/* Cambia el color al pasar el cursor */
.back-to-categories-button:hover {
    background-color: #cc0000; /* Cambia el color al pasar el cursor */
}


/* Estilo para los botones de las subcategorías */
.subcategory-button {
    background-color: #ff6600; /* Color naranja */
    color: #fff; /* Texto en color blanco */
    border: none;
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    margin: 5px; /* Espaciado entre botones */
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Cambia el color al pasar el cursor */
.subcategory-button:hover {
    background-color: #fff; /* Fondo blanco al pasar el cursor */
    color: #000033; /* Texto en color negro al pasar el cursor */
}

/* Contenedor de los botones de subcategorías */
.subcategories-container {
    display: flex;
    flex-wrap: wrap; /* Los botones se envuelven si no caben en el ancho del contenedor */
    justify-content: center; /* Centra los botones horizontalmente */
    width: 100%; /* Ocupa todo el ancho */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #000033; /* Fondo oscuro */
    border-radius: 2px; /* Bordes redondeados */
    margin-top: 20px; /* Espaciado superior */
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000033; /* Color de fondo que coincida con el fondo de la página */
}

/* Estilos más sutiles para las partículas */
.particles-js-canvas-el {
    opacity: 0.5; /* Opacidad reducida para hacer las partículas más sutiles */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000033;
    width: 100%; /* Ajusta el ancho al 100% */
    height: 100%; /* Ajusta la altura al 100% */
}
